{% extends '_base.html' %}

  {% block title %}
  Contato
  {% endblock title %}

  {% block content %}
  <center>
    <h1 class="mt-5 text-light">Contate conosco</h1>
  </center>

  <div class="container">    
    <div class="row"> <!-- linha -->
      <div class="col-12 col-md-6 coluna">
          <img src="/static/img/html5_css3.png" alt="logo da empresa" height="200">
      </div>
      <div class="col-12 col-md-6 coluna">
    <form action="/envia" method="POST" class="text-center">
        <h1 class="h3 m-3 p-1">Seus dados</h1>
        <label for="id_nome" class="sr-only">Nome:</label>
        <input class="form-control m-2" required type="text" placeholder="Seu nome:" name="nome">
        <label for="id_nome" class="sr-only">Sobrenome:</label>
        <input class="form-control m-2" required type="text" placeholder="Seu Sobrenome:" name="sobrenome">
        <label for="id_email" class="sr-only">Email:</label>
        <input class="form-control m-2" type="email" id="id_email" placeholder="Seu email:" required autofocus name="email">
        <label for="id_nome" class="sr-only">Assunto:</label>
        <input class="form-control m-2" required type="text" placeholder="Assunto:" name="assunto">
        <label for="id_nome" class="sr-only">Mensagem:</label>
        <textarea class="form-control m-2" required type="text" placeholder="Mensagem:" name="mensagem"></textarea>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
      </div>
    </div>
  </div>
  {% endblock content %}
