{% extends '_base.html' %}

  {% block title %}
  Sobre
  {% endblock title %}

  {% block content %}
  <center>
    <h1 class="mt-5 text-danger">Falamos sobre a empresa</h1>
  </center>
  É o propósito de a empresa existir. É sua razão de ser. ela costuma a ser bastante inspiradora e também com a possibilidade de mudança ao longo do tempo e amadurecimento da empresa.
Estamos comprometidos para levar a melhor experiência de computação pessoal a estudantes, educadores, profissionais criativos e consumidores do mundo todo através de seu hardware, software e serviços de internet inovadores.
Produzir produtos de alta qualidade e fácil uso que incorporam alta tecnologia para o indivíduo, provando que alta tecnologia não precisa ser intimidadora para aqueles que não são experts em computação.
“Contribuir para um país mais forte por meio de empresas mais fortes”.
Nosso propósito é a sua razão de ser, costumamos ser bastante inspiradores e também com a possibilidade de mudança ao longo do tempo e amadurecimento da empresa.
Estamos comprometidos para levar a melhor experiência de computação pessoal a estudantes, educadores, profissionais criativos e consumidores do mundo todo através de seu hardware, software e serviços de internet inovadores.
Produzir produtos de alta qualidade e fácil uso que incorporam alta tecnologia para o indivíduo, provando que alta tecnologia não precisa ser intimidadora para aqueles que não são experts em computação.
“Contribuir para um país mais forte por meio de empresas mais fortes”.
  {% endblock content %}
